<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1> 

<%= link_to 'New Article', new_article_path %> <br> <br>  

  <% @articles.each do |article| %>
<div class="article">
  <h3><%= article.title %> </h3>
  <p> <%= article.text %> </p>
  <h4> <%= link_to 'Show', article %>, <%= link_to 'Edit', edit_article_path(article) %>, <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
</div>
  <% end %>



